<html>
<title> tesing stuff - admin page </title>
<body>

Welcome admin {{ user.name }}

<p><a href="/user"> User area </a>

<form action="/logout" method="get">
<input type="submit" name="logout" value="logout">
</form>

<p>
My comments:
{% if user.comment is defined %}
<table><tr><td> {{ user.comment }} </td></tr></table>
{% endif %}
<p>



For more help, please contact<br>
{% for a in adminlist %}
<a href="mailto:{{ a.email }}"> {{ a.uname }} </a>
{% endfor %}



</body>
</html>
