<html>
<title> tesing stuff - admin page </title>
<body>

Welcome admin {{ user.name }}

<p><a href="/user"> User area </a>

<form action="/logout" method="get">
<input type="submit" name="logout" value="logout">
</form>

<p>
My comments:
{% if user.comment is defined %}
<table><tr><td> {{ user.comment }} </td></tr></table>
{% endif %}
<p>


<table>
<tr> <td> ID </td> <td> Username </td> <td> Role </td> <td> Contact </td> <td> Action </td> </tr>
{% for u in userlist %}
<tr> <td> {{ u.id }} </td><td> {{ u.uname }} </td> <td> {{ u.role }} </td>  <td> <a href="mailto:{{ u.email }}"> {{ u.email}} </td> <td> Edit </td>  </tr>
{% endfor %}
</table>

For more help, please contact<br>
{% for a in adminlist %}
<a href="mailto:{{ a.email }}"> {{ a.uname }} </a>
{% endfor %}



</body>
</html>
