<html>
<title> tesing stuff - admin page </title>
<body>

welcome admin {{ user.name }}


<form action="/logout" method="get">
<input type="submit" name="logout" label="logout">
</form>


</body>
</html>
