<html>
<title> tesing stuff - login </title>
<body>

<p> Login as: </p>
<form action="" method="post">
Username: <input id="username" name="username" type="text"/><br>
Password: <input id="userpass" name="userpass" type="password"/><br>
<input type="submit" name="submit">
</form>
</body>
</html>
