<html>
<title> tesing stuff - register user </title>
<body>

<p> Login as: </p>
<form action="/register" method="post">
First name: <input id="fname" name="fname" type="text"/><br>
Last name: <input id="lname" name="lname" type="text"/><br>
email: <input id="email" name="email" type="text"/><br>
Password1: <input id="userpass1" name="userpass1" type="password"/><br>
Password2: <input id="userpass2" name="userpass2" type="password"/><br>

<input type="submit" name="submit" value="Create">
</form>
</body>
</html>
