<html>
<title> tesing stuff - user {{ user.name }} </title>
<body>

welcome {{ user.name }}


<form action="/logout" method="get">
<input type="submit" name="logout" value="logout">
</form>


</body>
</html>
