<html>
<title> tesing stuff - user details </title>
<body>

<h1> Detailed information on user {{ user.name }} </h1>
<table>
<tr><td> Name </td><td> {{ user.name }} </td></tr>
<tr><td> Email </td><td> {{ user.email }} </td></tr>
<tr><td> Role </td><td> {{ user.role }} </td></tr>
<tr><td> Password </td><td> {{ user.password }} </td></tr>
<tr><td> Comment </td><td> {{ user.comment }} </td></tr>
</table>
<a href="/admin"> Back </a>
</body>
</html>
